@model List<Caso1_PrograAvanzada.Entities.Habitacion>

@{
    ViewData["Title"] = "Reservaciones";
}

<h2 class="mb-4">

    Habitaciones Disponibles

</h2>

<div class="mb-3">

    <a asp-action="Buscar"
       class="btn btn-info">

        Buscar Reservación

    </a>

</div>

<table class="table table-bordered table-hover">

    <thead class="table-dark">

        <tr>

            <th>Código</th>

            <th>Nombre</th>

            <th>Ubicación</th>

            <th>Capacidad</th>

            <th>Costo Reserva</th>

            <th>Acción</th>

        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {

            <tr>

                <td>@item.CodigoDeHabitacion</td>

                <td>@item.NombreDeHabitacion</td>

                <td>@item.Ubicacion</td>

                <td>@item.CantidadDeHuespedesPermitidos</td>

                <td>@item.CostoDeReserva.ToString("C")</td>

                <td>

                    <a asp-action="Create"
                       asp-route-idHabitacion="@item.Id"
                       class="btn btn-success">

                        Reservar

                    </a>

                </td>

            </tr>

        }

    </tbody>

</table>